<h2><%= @user.name %> 様</h2>
	　<p>
		いつも Teratter をご利用頂き誠にありがとうございます。<br>
		この度は、お問い合わせありがとうございました。<br>
	　	以下、お問い合わせいただきました御内容のの回答となっております。<br>
		ご確認の程、よろしくお願いいたします。
	　</p>

	  <p><%= @answer %></p>

	  <p>今後とも Teratter をよろしくお願いいたします。</p>